body {
    --theme-color: #3f99ae;
    --heavy-color: #106688;
    margin: 0;
}

.head-container {
    height: 20vh;
}

form {
    width: 50%;
    font-size: 20px;
    font-weight: 400;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    height: 2em;
    margin: 4px;
}


@media screen and (max-width: 700px) {

    .page-content-container {
        height: 90vh;
    }

    .head-container {
        height: 20vh;
    }
    form {
        width: 90%;
    }



}


*:focus {
    outline: none;
}

button {
    border-radius: 0;

}

body {
    margin: 0;
    background: url("../images/layout-decor/authentication-decor.jpg") no-repeat center center fixed;
    background-size: cover;
}

.page-content-container {
    background-color: rgba(256, 256, 256, 0.8);
    margin: 10vh auto;

}

@media screen and (max-width: 600px) {
    .page-content-container {
        width: 100vw;
    }
}

@media screen and (min-width: 600px) {
    .page-content-container {
        width: fit-content;
    }
}

button {
    background-color: var(--theme-color);
    border: none;
    color: var(--gentle-white);
    font-size: 1em;
    margin-top: 10px;
}

button:hover {
    color: var(--gentle-white);
    background-color: var(--heavy-color);
}

.back-to-homepage {
    color: var(--theme-color);
    font-size: 15px;
}

.operation-container {
    width: fit-content;
    margin: 10px auto;
    text-align: center;
    padding-bottom: 10px;
    line-height: 2em;

}

.back-to-homepage:hover {
    color: var(--heavy-color);
}

.warning-message {
    color: red;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;

}

.invisible {
    display: none;!important;
}

