:root {
    --theme-color: #3f99ae;
    --heavy-color: #106688;
    --light-color: #58d6f4;
    /*    These will be immediately overwritten as soon as the blog or article view are loaded.*/

    --gentle-black: #333333;
    --gentle-white: #f0f0f0;
    --bright-gray: #bbbbbb;
    --median-gray: #868e96;
    /*    These are always available for consistent black-white-gray colors */
}

:root {
    --primary-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --secondary-font: Lora, 'Times New Roman', serif;
}

.inline-avatar {
    max-width: 1.5em;
    max-height: 1.5em;
    border-radius: 50%;
    border: var(--bright-gray) solid 1px;
    position: relative;
    top: 0.5em;
}

.comment-div {
    font-size: 12px;
    display: grid;
    position: relative;
    grid-template-columns: 4em 1fr;
    grid-template-rows: 2em 1fr 2em;
    grid-template-areas: "avatar comment-info" "avatar comment-body" ". comment-option" ". add-comment" ". child-comment";
}

.blog-div {
    display: grid;
    position: relative;
    grid-template-columns: 5em 1fr;
    grid-template-rows: 2em 4em 1fr;
    grid-template-areas: "avatar blog" "avatar blog" "avatar blog";
}

.comment-avatar,
.blog-avatar {
    max-width: 3em;
    max-height: 3em;
    float: left;
    position: relative;
    top: 1.5em;
}

.blog-avatar {
    top: 0.5em;
}

.blog-avatar-div {
    grid-area: avatar;

}

.select-avatar {
    max-width: 3em;
    max-height: 3em;
}

.full-article-link {
    grid-area: blog;
}

.comment-info-div {
    grid-area: comment-info;
}

.comment-body-div {
    grid-area: comment-body;
}

.comment-options-div {
    grid-area: comment-option;
}

.child-comments-container {
    grid-area: child-comment;
}


body {
    font-family: var(--primary-font);
    margin: 0;
    color: var(--gentle-black);
    box-sizing: border-box;
    text-align: justify;
}

html {
    margin: 0;
}

h1 {
    font-weight: 800;
}

h2 {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    font-weight: 800;
}

a {
    text-decoration: none;
}


.article-info, .comment-info {
    font-weight: 400;
    font-style: italic;
    font-family: var(--secondary-font);
    color: var(--median-gray);

}

.article-brief {
    font-weight: 400;
}

.top-bar {
    position: fixed;
    margin: 0;
    top: 0;
    width: 100vw;
    height: 40px;
    background-color: rgba(256, 256, 256, 0.9);
    padding: 10px 5px 0;
    font-weight: 800;
    z-index: 999 !important;
}

.top-bar-home-link, .top-bar-links {
    width: fit-content;
    position: absolute;
}

.top-bar-links {
    right: 3vw;
}

.top-bar-home-link {
    left: 1vw;
}

#my-blog-span, #create-blog-span {
    border-right: solid var(--gentle-black) 2px;
    padding-right: 4px;
}


a {
    color: var(--gentle-black);
}

a:hover {
    color: var(--theme-color);
}

.primary-link {
    color: var(--theme-color);
}

.primary-link:hover {
    color: var(--heavy-color);
}

button:focus {
    outline: none;
}

.body-container {
    margin: 0 auto;
}

#article-options-container {
    height: 4em;
    position: relative;
}

.link-button {
    font-family: var(--primary-font);
    font-weight: 400;
    height: 2.5em;
    font-size: 14px;
}

.head-container {
    position: relative;
}

.article-author-option-div {
    display: flex;
    flex-direction: row;
    height: 3em;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    top: -3em;
    right: 0;
}

.body-container {
    position: relative;
}

.block-avatar {
    display: block;
    border-radius: 50%;
    border: var(--bright-gray) solid 2px;
}

#index-message {
    color: var(--heavy-color);
    text-decoration: underline;
}

@media screen and (min-width: 900px) {
    .head-container {
        width: 70vw;
    }

    .body-container {
        width: 50vw;
    }

    #index-message {
        width: 50vw;
        margin: 0 auto 15px;
    }
}

@media screen and (max-width: 900px) {
    .head-container {
        width: 95vw;
    }

    .body-container {
        width: 95vw;
    }

    #index-message {
        width: 95vw;
        margin: 0 auto 15px;
    }
}

.head-container {
    height: 40vh;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.top-bar {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.body-container {
    margin-bottom: 50px;
}


.blog-tiny-username {
    position: relative;
    text-align: center;
}


::selection {
    background: var(--light-color);
}

textarea, input[type="text"], input[type="date"], input[type="password"] {
    border-image: none;
    border-color: var(--theme-color);
    border-style: solid;
    border-width: 1px;
}

.comment-option-button {
    border: none;
    background-color: var(--theme-color);
    color: white;
}

.comment-option-button:hover {
    background-color: var(--heavy-color);
}

.tiny-comment-option-button {
    background-color: transparent;
    border: none;
    color: var(--theme-color);
    margin-left: 3px;
}

.tiny-comment-option-button:hover {
    color: var(--heavy-color);
}

.comment-body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555555;
    font-size: 14px;
}

textarea:focus {
    outline-color: var(--theme-color);
    border: 1px solid var(--theme-color);
}

#toggle-trigger:hover {
    color: var(--theme-color);
    cursor: pointer;
}

#toggle-trigger {
    cursor: pointer;
}


#toggle-down-box {
    position: fixed;
    margin: 0;
    top: 45px;
    left: calc(97vw - 9em);
    width: 12em;

    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 8em;
    font-weight: bold;
    border: 5px white solid;
    border-right: 70px white solid;

}

.toggle-down-span {
    border-bottom: 1px solid var(--median-gray);
}

#toggle-down-box:last-child {
    border-bottom: 0;
}

.invisible {
    display: none !important;
}

button {
    cursor: pointer;
}

.like-empty-button, .dislike-empty-button, .like-full-button, .dislike-full-button {
    cursor: pointer;
}

.like-empty-button:hover, .dislike-empty-button:hover {
    color: var(--theme-color);
}

.like-full-button:hover, .dislike-full-button:hover {
    color: inherit;
}

.like-full-button, .dislike-full-button {
    color: var(--theme-color);
}

.disabled-icon {
    color: inherit;
    cursor: inherit;
}

.disabled-icon:hover {
    color: inherit;
}

.count-span {
    padding-left: 3px;
    padding-right: 5px;
}

#search-span {
    font-weight: bolder;
    padding-right: 10px;
    font-size: 1.25em;
}

#search-icon:hover {
    color: var(--theme-color);
    cursor: pointer;
}

#search-box {
    position: fixed;
    top: 45px;
    right: 10em;
    width: 12em;
    height: 7em;
    background-color: white;
    text-align: left;
    border: var(--theme-color) 2px solid;
    line-height: 2em;
}

#search-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#search-box input[type="text"] {
    font-size: inherit;
    width: 95%;
    margin: 0 auto;
}

input[type="text"]:focus {
    outline-color: var(--theme-color);
}


#search-box button {
    font-family: inherit;
    border-radius: 0;
    background-color: var(--theme-color);
    border: 0;
    color: white;
    font-weight: bolder;
    font-size: 0.9em;
    text-align: center;
    width: fit-content;
    margin: 0 auto 4px;
}

#search-box button:hover {
    background-color: var(--heavy-color);
}

#delete-article-button {
    margin-right: 3px;
}

#blog-description-container {
    text-align: center;
}

#home-icon {
    font-size: 1.5em;
}


#sort-option {
    position: absolute;
    top: 101%;
    left: 0;
    width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    z-index: 9999;
    border-radius: 5%;
    border: solid 1px var(--theme-color);
    padding-bottom: 0;
}

#sort-option-head {
    width: 100%;
    height: 1.5em;
    background-color: var(--theme-color);
    color: white;
    font-weight: bolder;
    cursor: move;
}

#sort-option-head * {
    cursor: move;

}

#sort-option-body > select {
    font-family: inherit;
    font-size: 0.8em;
    border-radius: 0;
    border-color: var(--theme-color);
    border-image: none;
}

#sort-option-body > select:focus {
    outline-color: var(--theme-color);
}

.block-avatar-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 15px;
}

#sort-option {
    width: fit-content !important;
}

#follow-check-circle:hover {
    color: var(--theme-color);
}
#follow-span {
    cursor: pointer;
}

#follower-number-span {
    text-decoration: underline;
    color: var(--theme-color);
}

#follower-number-span:hover {
    color: var(--heavy-color);
}

#follow-span {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid var(--gentle-black);
}