:root {
    --theme-color: #888888;
    --heavy-color: #666666;
    /*    These will be immediately overwritten as soon as the blog or article view are loaded.*/

    --gentle-black: #333333;
    --gentle-white: #f0f0f0;
    --bright-gray: #bbbbbb;
    --median-gray: #868e96;
    /*    These are always available for consistent black-white-gray colors */
}

:root {
    --primary-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --secondary-font: Lora, 'Times New Roman', serif;
}

.inline-avatar {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: var(--bright-gray) solid 1px;
    position: relative;
    top: 0.5em;
}

body {
    font-family: var(--primary-font);
    margin: 0;
}

html {
    margin: 0;
}

h1 {
    font-weight: 800;
}

h2 {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    font-weight: 800;
}

a {
    text-decoration: none;
}


.articleInfo {
    font-weight: 400;
    font-style: italic;
    font-family: var(--secondary-font);
}

.articleBrief {
    font-weight: 400;
}

.top-bar {
    position: fixed;
    margin: 0;
    top: 0;
    width: 100vw;
    height: 40px;
    background-color: rgba(256, 256, 256, 80);
    padding: 5px;
    vertical-align: center;
    font-weight: 800;
}

.top-bar-home-link, .top-bar-links {
    width: fit-content;
    position: absolute;
}

.top-bar-links {
    right: 3vw;
}

.top-bar-home-link {
    left: 1vw;
}

#my-blog-span, #create-blog-span {
    border-right: solid var(--gentle-black) 2px;
    padding-right: 4px;
}

#log-out-span, #log-in-span {
    padding-left: 6px;
}

a {
    color: var(--gentle-black);
}

a:hover {
    color: var(--theme-color);
}

.primary-link {
    color: var(--theme-color);
}

.primary-link:hover {
    text-decoration: underline;
}

button:focus {
    outline: none;
}

button.link-button {
    background-color: var(--theme-color);
    font-family: var(--primary-font);
    border: none;
    height: 3em;
    font-size: 15px;
    color: var(--gentle-white);
    font-weight: 400;
}

.link-button > a {
    color: var(--gentle-white);
}

.link-button:hover {
    background-color: var(--heavy-color);
}

.articleInfo {
    color: var(--median-gray);
}