.body-container {
    border-top: 2px var(--theme-color) dotted;
}

.link-button {
    background-color: var(--theme-color);
    border: none;
    color: var(--gentle-white);
}

.back-to-blog-button {
    position: absolute;
    right: 0;
}


.link-button > a {
    color: var(--gentle-white);
}

.link-button:hover {
    background-color: var(--heavy-color);
}

hr{
    border: none;
    height: 1px;
    background-color: var(--bright-gray);
    color: var(--bright-gray);
}

.blog-author-option-div {
    margin-top: 10px;
}

@media screen and (max-width: 900px){
    #blog-article-list-container {
        padding-top: 2.5em;
    }
}