
:root {
    --primary-font: 'Cinzel', serif;
    --secondary-font: 'Cinzel', serif;
}

.head-container {
    background: #868e96;
    background-size: cover;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-bottom: 40px;
}

.head-container > div {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: rgba(256, 256, 256, 0.8);
    text-align: center;
}

#sort-option {
    width: 10.2em;
}

#blog-description-container {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;;
}

.article-author-option-div {
    top: -4.7em;
    width: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.link-button:hover{
    color: var(--theme-color);
}

.head-container {
    margin-top: 40px;
}








