body{
    position: relative;
}

.body-container {
    position: relative;
    height: 700vh;
    bottom: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-avatar {
    max-width: 5em;
    max-height: 5em;
}

#change-avatar {
    position: relative;
    bottom: 5.2em;
    cursor: pointer;
}
#change-avatar:hover {
    color: var(--theme-color);
}

button:hover{
    color: var(--theme-color);
}
button {
    font-family: var(--primary-font);
    font-weight: 400;
    height: 2em;
    font-size: 14px;
}

.profile-avatar {
    display: inline;
}
.profile-page-hr {
    margin: 25px 0;
    height: 1px;
    border: none;
    background-color: var(--bright-gray);
    color: var(--bright-gray);
    width: 60%;
}

.profile-icon {
    padding: 3px;
}

.real-name-info {
    text-align: center;
}

#followers, #following{
    padding: 0 40px 40px;
    text-align: center;
}

.user-box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#follow-span{
    border-left:none;
}

.relationship-div {
    display: grid;
    grid-template-rows: 2.5em 1em;
    grid-template-columns: 3em;
    grid-template-areas: "avatar" "username";
}
.relationship-avatar-div {
    grid-area: avatar;
}
.relationship-username-div {
    grid-area: username;
    font-size: 0.4em;
}

.relationship-avatar{
    max-width: 2.5em;
    max-height: 2.5em;
}

#follow-span {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

.block-avatar:hover{
    border: var(--bright-gray) solid 2px;
}
